# Telegram Bot
TELEGRAM_BOT_TOKEN=8637985878:AAEn4c1PaaKSptrfqXyABymi_M6057Oz8AM # Get from @BotFather on Telegram

# MongoDB
MONGODB_URI=mongodb+srv://suplexcity930_db_user:GtDkRGhfjA1uqamT@cluster0.xncuvrl.mongodb.net
# Server
PORT=3000
